
# postgres settings
DB_NAME = ''
DB_USER = ''
DB_PASSWORD = ''     # keep this alphanumeric to avoid insertion issues
DB_HOST = ''                                            #(owo)

# API settings
API_USER = ''
API_KEY = ''